*, *:before, *:after {
    box-sizing: border-box;
  }


body{
    background-color: #a1b4d4;
    font-family: 'Roboto';
}

.mainWrapper{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
   margin-top: 90px

}


 .ioio, .questionItem{
     display: flex;
     align-items: center;
     justify-content: space-evenly;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 15px;
    -webkit-box-shadow: -5px -5px 5px -5px rgba(242, 242, 242, 0.6);
    -moz-box-shadow: -5px -5px 5px -5px rgba(242, 242, 242, 0.6);
    box-shadow: -5px -5px 5px -5px rgba(242, 242, 242, 0.6);
}

.hItem{
    color:#fff;
    background-color: #458;
    border-radius: 10px;
}